
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Model Validation</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("scripts", false)
</head>
<body class="panel-body">
    <div class="container-fluid">
        <div class="col-6 offset-3">
            @RenderBody()
        </div>
    </div>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
