@model Contato
@{ Layout = "_Layout"; }

@section scripts {
    <script src="~/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/localization/messages_pt_BR.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input.input-validation-error").addClass("is-invalid");
        });
    </script>
}

<div class="bg-primary panel-body"><h2>Contato</h2></div>
<form class="panel-body" asp-action="Contato" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Nome">Nome:</label>
        <div><span asp-validation-for="Nome" class="text-danger"></span></div>
        <input asp-for="Nome" type="text" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary">Novo Contato</button>
</form>